* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RFRufo-Regular';
}

@font-face {
  font-family: 'RFRufo-Regular';
  src: url(./fonts/RFRufo-Regular.ttf);
}

.body {
  background-color: rgb(22, 22, 22);
}

.nav-contact {
  display: flex;
}

.navbar-icons {
  display: flex;
}

.nav-lang {
  display: flex;
}

.hamburger {
  display: flex;
}

.navbar-menu__button {
  background: white !important;
  color: white !important;
}

.nav-tel__icon {
  height: 20px;
}

.nav-item {
  list-style: none;
}

.language {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.nav-link {
  color: white !important;
}

.navbar-nav p {
  margin-left: 2px;
  color: #FFFFFF;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.dropdown-menu {
  background: rgba(24, 24, 24, 0.95) !important;
  margin-top: 20px !important;
  left: -276% !important;
  height: 530px;
}

.dropdown-item {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF !important;
}

.dropdown-item:hover {
  background-color: black !important;
}

.dropdown-list {
  margin-top: 35px;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

.dropdown-icon {
  position: relative;
  margin-left: 10px;
  margin-bottom: 20px;
}

.dropdown-icon:nth-of-type(1)::before {
  content: url(./menu-icons/IconHome.svg);
}

.dropdown-icon:nth-of-type(2)::before {
  content: url(./menu-icons/iconInsects.svg);
}

.dropdown-icon:nth-of-type(3)::before {
  content: url(./menu-icons/iconDrone.svg);
}

.dropdown-icon:nth-of-type(4)::before {
  content: url(./menu-icons/iconMap.svg);
}

.dropdown-icon:nth-of-type(5)::before {
  content: url(./menu-icons/iconDrones.svg);
}

.dropdown-icon:nth-of-type(6)::before {
  content: url(./menu-icons/iconNews.svg);
}

.dropdown-icon:nth-of-type(7)::before {
  content: url(./menu-icons/iconCompany.svg);
}

.dropdown-icon:nth-of-type(8)::before {
  content: url(./menu-icons/iconPhone.svg);
}

.dropdown-icon::before {
  position: absolute;
  left: -14%;
}

.divider-line {
  width: 207px;
  margin-left: 13px;
  border: 1px solid #FFFFFF;
  margin: auto;
}

.news-top_elem {
  margin: 40px 0 0 110px;
}

.news-top_elem p {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}

.news-top_elem span {
  color: #02E502;
}

.main-title {
  position: relative;
}

.main-title h1 {
  margin-left: 106px;
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 144px;
  color: rgba(255, 255, 255, 0.2);
}

.main-title p {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #02E602;
  top: 45%;
  left: 110px;
}

.news__card {
  display: flex;
  background: #1E1D1D;
  margin-top: 50px;
  width: 1303px;
  height: 388px;
}

.news__card img {
  margin: 50px;
}

.news__subcard {
  display: block;
  margin-top: 80px;
}

.news__subcard h4 {
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
}

.news__subcard p {
  margin-top: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  color: #FFFFFF;
}

.news__subcard a {
  margin-top: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #02E602;
}

.footer {
  margin-top: 110px;
  border-top: 1px solid #02E602;
}

.footer__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
}

.footer-contact {
  display: flex;
}

.footer-contact img {
  width: 26px;
  height: 26px;
  margin-top: 15px;
}

.footer-contact p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 20px;
}

.footer-social {
  display: flex;
  margin-top: 10px;
}

.footer-social p {
  margin-right: 20px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}

@media(max-width:480px) {
  .nav-contact {
    display: flex;
  }

  .navbar-icons {
    display: flex;
  }

  .nav-lang {
    display: flex;
  }

  .hamburger {
    display: flex;
    justify-content: space-between;
  }

  .main-title h1 {
    margin-left: 10px;
    font-size: 60px;
  }

  .main-title p {
    top: 38%;
    font-size: 38px;
    left: 12px;
  }

  .news__card {
    display: block;
    width: 460px;
    height: 620px;
  }

  .news__card img {
    margin: 0;
  }

  .news__subcard {
    margin-top: 80px !important;
    margin: 5px;
  }

  .footer__content {
    display: block;
    text-align: center;
  }

  .footer-logo {
    display: block;
  }

  .footer-contact {
    margin-left: 35%;
  }

  .footer-social {
    display: block;
  }
}