* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RFRufo-Regular';
}

@font-face {
    font-family: 'RFRufo-Regular';
    src: url(./fonts/RFRufo-Regular.ttf);
}

.body {
    background-color: rgb(22, 22, 22);
}

.nav-contact {
    display: flex;
}

.navbar-icons {
    display: flex;
}

.nav-lang {
    display: flex;
}

.hamburger {
    display: flex;
}

.navbar-menu__button {
    background: white !important;
    color: white !important;
}

.nav-tel__icon {
    height: 20px;
}

.nav-item {
    list-style: none;
}

.language {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.nav-link {
    color: white !important;
}

.navbar-nav p {
    margin-left: 2px;
    color: #FFFFFF;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.dropdown-menu {
    background: rgba(24, 24, 24, 0.95) !important;
    margin-top: 20px !important;
    left: -276% !important;
    height: 530px;
}

.dropdown-item {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF !important;
}

.dropdown-item:hover {
    background-color: black !important;
}

.dropdown-list {
    margin-top: 35px;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}

.dropdown-icon {
    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
}

.dropdown-icon:nth-of-type(1)::before {
    content: url(./menu-icons/IconHome.svg);
}

.dropdown-icon:nth-of-type(2)::before {
    content: url(./menu-icons/iconInsects.svg);
}

.dropdown-icon:nth-of-type(3)::before {
    content: url(./menu-icons/iconDrone.svg);
}

.dropdown-icon:nth-of-type(4)::before {
    content: url(./menu-icons/iconMap.svg);
}

.dropdown-icon:nth-of-type(5)::before {
    content: url(./menu-icons/iconDrones.svg);
}

.dropdown-icon:nth-of-type(6)::before {
    content: url(./menu-icons/iconNews.svg);
}

.dropdown-icon:nth-of-type(7)::before {
    content: url(./menu-icons/iconCompany.svg);
}

.dropdown-icon:nth-of-type(8)::before {
    content: url(./menu-icons/iconPhone.svg);
}

.dropdown-icon::before {
    position: absolute;
    left: -14%;
}

.divider-line {
    width: 207px;
    margin-left: 13px;
    border: 1px solid #FFFFFF;
    margin: auto;
}

.agroscout {
    background-image: url(./images/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.argoscout-content {
    position: absolute;
    display: block;
    width: 663px;
    margin: 95px 0 0 202px;
}

.argoscout-content h2 {
    font-weight: 400;
    font-size: 72px;
    line-height: 86px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.argoscout-content h3 {
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.argoscout-content p {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}

.benefit {
    margin-top: 85px;
}

.main-title {
    position: relative;
}

.main-title h1 {
    margin-left: 106px;
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 144px;
    color: rgba(255, 255, 255, 0.2);
}

.main-title p {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #02E602;
    top: 45%;
    left: 110px;
}

.banefit-content {
    margin-top: 60px;
}

.benefit__card {
    width: calc(100% - -5px);
    background: #1E1D1D !important;
    height: 258px;
}

.bf-card-bottom {
    margin-top: 20px;
}

.benefit__h4-elem1::before {
    content: url(./icons/people-icon.svg);
    position: absolute;
    left: -4%;
}

.benefit__h4-elem2::before {
    content: url(./icons/promptness-icon.svg);
    position: absolute;
    left: -4%;
}

.benefit__h4-elem3::before {
    content: url(./icons/tech-icon.svg);
    position: absolute;
    left: -4%;
}

.benefit__h4-elem4::before {
    content: url(./icons/drone-icon.svg);
    position: absolute;
    left: -4%;
}

.benefit__h4-elem5::before {
    content: url(./icons/ruble-icon.svg);
    position: absolute;
    left: -4%;
}

.benefit__h4-elem6::before {
    content: url(./icons/icon-service.svg);
    position: absolute;
    left: -4%;
}

.benefit__card h4 {
    padding: 53px 0 0 30px;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    position: relative;
    margin-left: 40px;
    margin-bottom: 20px;
}

.benefit__card p {
    width: 360px;
    padding-top: 16px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    color: #FFFFFF;
    opacity: 0.6;
}

.products {
    margin-top: 110px;
}

.products-content {
    margin-top: 60px;
}

.products__card {
    width: calc(100% - 5px) !important;
    height: 629px;
    background: #1E1D1D;
}

.products__card img {
    margin-left: 24px;
}

.products__card h3 {
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    color: #FFFFFF;
    margin-top: 27px;
    margin-left: 70px;
}

.products__card p {
    margin-top: 30px;
    margin-left: 70px;
    width: 120px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
}

.products__card h4 {
    margin-top: 20px;
    margin-left: 70px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.products__card button {
    margin-top: 49px;
    margin-left: 70px;
    color: #02E602;
    padding: 15px 59px 19px 59px;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    border: 1px solid #02E602;
    background-color: transparent;
}

.services {
    margin-top: 110px;
    background-image: url(./images/services-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 69vh;
}

.services__content {
    position: absolute;
    margin: 100px 0 0 150px;
}

.services__content h1 {
    font-weight: 400;
    font-size: 72px;
    line-height: 48px;
    color: #FFFFFF;
}

.services__content h3 {
    padding-top: 50px;
    width: 600px;
    font-weight: 300;
    font-size: 34px;
    line-height: 54px;
    color: #FFFFFF;
    opacity: 0.8;
}

.services__button {
    margin-top: 70px;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #02E602;
    border: 1px solid #02E602;
    padding: 14px 73px 20px 74px;
    background: transparent;
}

.modal-per {
    background-color: rgb(22, 22, 22) !important;
}

.modal-per h5,
label {
    color: white;
}

.company {
    margin-top: 110px;
}

.company__content {
    margin-top: 60px;
}

.company__content p {
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    color: #bdbdbd;
}

.presence {
    margin-top: 126px;
}

.presence__content {
    display: flex;
}

.russian-map {
    margin-left: 600px;
    margin-top: -460px;
    position: absolute;
    max-width: 60%;
}

.presence-regions {
    margin-top: 50px;
    margin-left: 115px;
    line-height: 22px;
    opacity: 0.7;
    width: 480px;
    display: flex;
    justify-content: space-between;
}

.presence-regions p {
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
}

.partners {
    margin-top: 82px;
}

.partners__img {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.partners__img img {
    height: 101px;
}

.news {
    margin-top: 170px;
}

.news-card {
    width: calc(100% - 10px);
    margin-top: 60px;
}

.news-card img {
    border: 1px solid #00a300;
    padding: 20px;
}

.news-card h3 {
    margin-top: 50px;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.news-card p {
    margin-top: 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 31px;
    color: #FFFFFF;
    opacity: 0.6;
}

.news-card a {
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #02E602;
}

.footer {
    margin-top: 110px;
    border-top: 1px solid #02E602;
}

.footer__content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
}

.footer-contact {
    display: flex;
}

.footer-contact img {
    width: 26px;
    height: 26px;
    margin-top: 15px;
}

.footer-contact p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 20px;
}

.footer-social {
    display: flex;
    margin-top: 10px;
}

.footer-social p {
    margin-right: 20px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

@media(max-width:480px) {
    .nav-contact {
        display: flex;
    }

    .navbar-icons {
        display: flex;
    }

    .nav-lang {
        display: flex;
    }

    .hamburger {
        display: flex;
        justify-content: space-between;
    }

    .argoscout-content {
        margin-left: 20px;
        width: 460px;
    }

    .agroscout-subcontent {
        text-align: center;
    }

    .argoscout-content h2 {
        font-size: 50px;
    }

    .main-title h1 {
        margin-left: 10px;
        font-size: 60px;
    }

    .main-title p {
        top: 38%;
        font-size: 38px;
        left: 12px;
    }

    .bf-card-bottom {
        margin-bottom: 20px;
    }

    .products__card {
        margin-top: 10px;
    }

    .services__content {
        margin: 72px 0 0 31px;
    }

    .services__content h3 {
        line-height: 44px;
        font-size: 26px;
        width: 400px;
    }

    .presence-regions {
        margin-top: 330px;
        margin-left: 10px;
        width: 440px;
    }

    .russian-map {
        margin-left: 25%;
        margin-top: -10%;
        height: 330px;
        width: 300px;
    }

    .partners__img {
        display: flex;
        flex-direction: column;
    }

    .partners__img img {
        margin-top: 50px;
    }

    .partners-bionovatic {
        width: 350px;
        margin-left: 60px;
    }

    .partners-bayer {
        width: 140px;
        margin-left: 140px;
    }

    .partners-corteva {
        width: 320px;
        margin-left: 60px;
    }

    .partners-kws {
        width: 100px;
        margin-left: 160px;
    }

    .news-card {
        margin-left: 20px;
    }

    .footer__content {
        display: block;
        text-align: center;
    }

    .footer-logo {
        display: block;
    }

    .footer-contact {
        margin-left: 35%;
    }

    .footer-social {
        display: block;
    }
}